<style>
  @font-face {
    font-family: "Cubic11Web";
    src: url('{{ "fonts/Cubic11.woff2" | relURL }}') format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }

  :root{
    --base-font-family: "Cubic11Web", system-ui, -apple-system, "Segoe UI", "Noto Sans TC", sans-serif;
    --article-font-family: "Cubic11Web", var(--base-font-family);
  }

  body{
    letter-spacing: 0.02em;
    -webkit-font-smoothing: none;
    text-rendering: optimizeSpeed;
  }
</style>
